body{ 
	background-color: 		#1C1D21;
	padding:				0;
	margin:					0;
	
}

#hero{
	max-width: 				100%;
	height: 				auto;
	padding: 				0;
	margin: 				0;
	border-radius: 			15% 15% 0 0;	
}

a{
	text-decoration:		none;
	color: 					#92CDCF;
}

nav{
	background-color: 		#1C1D21;
}

#nav_wrapper{
	margin: 				0 auto;
	text-align: 			left;
}

nav ul{
	list-style-type:		none;
	padding:				0;
	margin:					0;
	position:				relative;
}

nav ul li{
	display:				inline-block;
	
}

nav ul li:hover ul{
	display: 				block;
}

nav ul li:hover{
	background-color: 		#31353D;
}

nav ul ul{
	display:				none;
	position:				absolute;
	background-color:		#31353D;
}

nav ul ul li{
	display:				block;
}

.content_wrap{
	background-color: 		#ECEEF3;
	padding:				10px;
	border-radius: 			0 0 30px 30px;
}

.info_panel{
	background-color: 		#ECEEF3;
	padding:				1%;
	color: 					black;	
	float: 					left;
	font-family: 			"Verdana";
	font-size : 			12pt;
	width: 100%;
}

.info_panel a{
	color: 					#31353D;
}

.info_panel ul li{
	display: 				inline-block;
	padding: 				3px 0;
}

.button_panel{
	border-radius:			20px;
}

.button_panel img{
	border: 				3px double #1C1D21;
	box-shadow: 			3px 3px black;			
}

.buttonImage{
	border-radius: 			20px;
	min-width:				295px;
	width: 					83.3%;
	display:				block;
	margin: 				15px auto;			
}

.infoImage{
	float:					left;
	border-radius: 			20px;
	min-width:				295px;
	width: 					31.5%;			
}

.mapImage{
	float:					left;
	border-radius: 			20px;
	width:					41.6%;	
	min-width:				295px;			
}

.aboutImage{
	float:					left;
	border-radius: 			20px;
	width:					1%;	
	min-width:				295px;			
}

footer{
	background-color: 		#1C1D21;
	color: 					#92CDCF;
	text-align: 			center;
	margin: 				1% 10%;
}

